.account
  padding-bottom: 24px
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1em
    padding: 25px 0 25px 60px
    &-img
      width: 128px
      height: 128px
      border-radius: 50%
      border: 1px solid #bd7dc1
      background-color: $bg
      position: relative
      cursor: pointer
      img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%
        z-index: 1
        position: relative
      &::before, .no-img
        content: ''
        position: absolute
      &::before
        width: 40px
        height: 40px
        background: url("assets/images/account-camera.svg") center no-repeat
        left: -7px
        bottom: -4px
        z-index: 2
      .no-img
        width: 100px
        height: 50px
        background: url("assets/images/rose.png") center no-repeat
        left: 10px
        top: 40px
        transform: rotate(-130deg)
      &-input
        width: 0
        height: 0
        position: absolute
        z-index: -1
    &-name
      font: 700 28px $font-family
      color: $orange
    &-app
      width: 160px
      height: 130px
      display: flex
      flex-direction: column
      align-items: center
      font: 700 16px $font-family
      text-transform: uppercase
      color: $darkViolet
      img
        width: 90px
        aspect-ratio: 1/1
  &__wrap
    display: flex
    gap: 48px
    width: 100%
  &__sidebar
    width: 277px
    display: flex
    flex-direction: column
    gap: 32px
  &__nav
    border: 1px solid #bd7dc1
    border-radius: 22px
    padding: 32px 24px 40px 24px
    width: 100%
    li
      border-bottom: 1.00px solid rgba(189, 125, 193, 0.2)
      padding: 11px 0
      a
        white-space: nowrap
        font: 500 14px $font-family
        color: $text
        display: flex
        align-items: center
        justify-content: space-between
        &.active
          color: $lightViolet
        & span:nth-child(2)
          display: inline-block
          width: 92px
          font: 700 10px / 2 $font-family
          text-transform: uppercase
          text-align: center
          color: $white
          border-radius: 15px
          padding: 5px 0
          background-color: $orange
  &__slider
    border: 1px solid #bd7dc1
    border-radius: 22px
    padding: 24px 34px
    overflow: hidden
    position: relative
    .swiper-wrapper
      height: fit-content
    &-arrow
      width: 30px
      height: 30px
      background: url("assets/images/sidebar-arrow.svg") center no-repeat
      cursor: pointer
      &.next
        transform: rotate(180deg)
      &-wrap
        margin-top: 24px
        display: flex
        gap: 8px
  &__main
    width: 100%
    display: flex
    flex-direction: column
    gap: 32px
  &__personal
    border-radius: 22px
    padding: 40px 48px
    background: $bg
    &-data
      max-width: 385px
      width: 100%
    &-title
      font: 700 16px $font-family
      color: $text
      margin-bottom: 32px
    &-table
      display: grid
      grid-template-columns: 60px 1fr
      gap: 12px 8px
      span:nth-child(odd)
        font: 500 12px $font-family
        color: $grey
      span:nth-child(even)
        font: 500 14px $font-family
    &-button
      font: 500 14px $font-family
      text-decoration: underline
      text-decoration-skip-ink: none
      color: $orange
      text-align: left
      width: fit-content
      padding: 0
      &-box
        padding: 32px 0 0 66px
  .woocommerce-notices-wrapper
    position: absolute
  &__table
    font: 500 12px $font-family
    display: flex
    flex-direction: column
    border-radius: 15px
    border: 1px solid $lightViolet
    overflow: hidden
    .tr
      display: grid
      grid-template-columns: repeat(5, 1fr) 80px
      &:not(:last-of-type)
        border-bottom: 1px solid $lightViolet
    .td, .th
      display: flex
      justify-content: flex-start
      align-items: center
      padding: 4px 8px
      min-height: 40px
      text-align: left
      &:not(:last-of-type)
        border-right: 1px solid $lightViolet
    .th
      color: $white
      background-color: $darkViolet
    .td.bold
      font-weight: 700
      color: $lightViolet
    &-wrap
      border-radius: 22px
      padding: 40px 47px
      background-color: $bg
      h3
        font: 600 20px $font-family
        color: $text
        white-space: nowrap
    &-before
      display: flex
      align-items: flex-start
      justify-content: space-between
      gap: 1em
      margin-bottom: 16px
    &-after
      display: flex
      justify-content: space-between
      gap: 1em
      font: 600 20px $font-family
      color: $darkViolet
      margin-top: 24px
  &__advise
    background-color: $bg
    border: 1px solid #bd7dc1
    border-radius: 25px
    padding: 40px 24px
    display: flex
    flex-direction: column
    gap: 16px
    &-title
      font: 600 20px $font-family
      color: $darkViolet
    p
      font: 500 14px $font-family
      color: $text


.wishlist
  background-color: $bg
  border-radius: 22px
  padding: 40px 48px
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 16px
  &__title
    color: $text
    font: 600 20px $font-family
  &__list
    display: flex
    flex-direction: column
    gap: 16px
  &__item
    gap: 14px
    .wishsuite-addtocart
      color: $orange
      border: 1px solid $orange
      font: 700 10px / 2 $font-family
      text-transform: uppercase
      padding: 8px 26px
      min-width: unset
      width: 98px
    .product-price
      gap: 14px
    .product-remove
      a
        cursor: pointer