.banner
  &__wrap

    position: relative
    .swiper-slide
      opacity: 0
      transition: opacity .3s ease
      &-active
        opacity: 1
  &__item
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: relative
  &__text
    position: absolute
    width: 327px
    left: 115px
    top: 57px
    bottom: 57px
    display: flex
    flex-direction: column
    h3
      font: 700 40px/1 $font-family
      color: $white
      @include between($minTablet, $maxTablet)
        font-size: 30px
    h2
      font: 700 115px/1.2 $font-family
      color: $darkViolet
      @include between($minTablet, $maxTablet)
        font-size: 80px
  &__title
    flex: 1 0 auto
  .button
    flex-shrink: 0
  &__arrow
    position: absolute
    top: calc(50% - 22px)
    width: 44px
    height: 44px
    background: url("assets/images/banner-arrow.svg") center no-repeat
    z-index: 300
    cursor: pointer
    &.prev
      left: 29px
    &.next
      right: 29px
      transform: rotate(180deg)
