.catalog
  &__wrap
    display: grid
    grid-template-columns: 200px 1fr
    gap: 30px
    width: 100%
  &__main
    width: 100%
  &__loop
    margin-top: 24px
    justify-content: end
    position: relative
  &__item
    width: 100%
    aspect-ratio: 1/1
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    border-radius: 22px