.filters
  display: flex
  align-items: center
  justify-content: flex-end
  gap: 16px
  flex-wrap: wrap
  margin: 24px 0
  .reset
    padding: 5px 24px
  .tags
    padding: 5px 16px
  .sort
    padding: 5px 12px
  .filters
    padding: 5px 16px