.text-wrap
  position: relative
  display: flex
  flex-direction: column-reverse
  gap: 8px
  input
    width: 100%
    border: 1px solid #bd7dc1
    border-radius: 20px
    padding: 10px 16px
    font: 500 12px $font-family
    &::placeholder
      color: $grey
  label
    font: 500 14px $font-family
    color: $text