.map
  padding-bottom: 80px
  h2
    font: 700 30px $font-family
    text-align: center
    color: $darkViolet
    margin-bottom: 50px
    @include max($maxMobile)
      font-size: 20px
      margin-bottom: 32px
  &__wrap
    display: grid
    grid-template-columns: 1fr 1fr
    @include max($maxTablet)
      grid-template-columns: 1fr
      gap: 32px
  &__img
    overflow: hidden
    border-radius: 22px
    width: 100%
    height: 100%
    aspect-ratio: 555/468
    @include between($minTablet, $maxTablet)
      max-width: 600px
      margin: 0 auto
  &__contacts
    display: flex
    flex-direction: column
    gap: 50px
    @include min($maxLaptop+1)
      margin-left: 65px
    @include between($minLaptop, $maxLaptop)
      margin-left: 50px
    @include between($minTablet, $maxTablet)
      flex-direction: row
    @include max($maxMobile)
      gap: 32px
  &__part
    max-width: 450px
    font: 400 14px $font-family
    white-space: pre-wrap
    display: flex
    flex-direction: column
    @include between($minTablet, $maxTablet)
      max-width: 50%
    h3
      font: 600 14px $font-family
      padding-bottom: 1em
    br
      display: none
    .button
      margin-top: 13px
      @include max($maxMobile)
        margin-top: 24px
        width: 100%