.dark
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(47, 31, 58, 0.5)
  align-items: center
  justify-content: center
  z-index: 3
  display: none
  &.active
    display: flex
  .modal
    box-shadow: 2px 2px 4px 0 rgba(185, 136, 96, 0.49)
    background: $bg
    padding: 48px
    border-radius: 25px
    max-width: 440px
    position: relative
    &__close
      width: 24px
      height: 24px
      position: absolute
      right: 24px
      top: 24px
      cursor: pointer
      background: url("assets/images/close.svg") center no-repeat
    &__title
      font: 600 20px $font-family
      color: $darkViolet
    &__desc
      font: 500 14px $font-family
      color: $text
      margin-top: 12px
    &__form
      margin-top: 24px
      display: flex
      flex-direction: column
      gap: 12px
    .button
      margin-top: 12px
    &__link
      text-align: center
      color: $orange
      font: 500 14px $font-family
      text-decoration: underline
      text-decoration-skip-ink: none


  .modal-order-thx
    width: 100%
    max-width: 605px
    padding: 72px 40px
    &__wrap
      display: flex
      align-items: center
      gap: 24px
      img
        display: block
        width: 48px
        aspect-ratio: 1/1
        flex-shrink: 0
    h4
      font: 600 20px $font-family
      color: $darkViolet

  .modal-login
    padding: 48px 64px
    max-width: 472px
    form
      display: flex
      flex-direction: column
      gap: 16px
  .modal-user-thx
    img
      width: 52px
      display: block
      aspect-ratio: 1/1
      flex-shrink: 0
    &__wrap
      display: flex
      align-items: flex-start
      gap: 16px