.new
  &__slider
    border-radius: 22px
    padding: 24px 44px
    overflow: hidden
    position: relative
    width: 837px
    .swiper-slide
      opacity: 1
      transition: all .2s ease
    .swiper-slide:not(.swiper-slide-visible)
      opacity: 0
      a
        pointer-events: none
        cursor: default
  &__item
    position: relative
    border-radius: 15px
    overflow: hidden
    height: 100%
    display: flex
    flex-direction: column
    &-img
      display: block
      border-radius: 15px
      overflow: hidden
      margin-bottom: 12px
      width: 100%
      aspect-ratio: 1/1
    &-data
      flex: 1 0 auto
      position: relative
      display: flex
      flex-direction: column
      gap: 8px
    &-info
      flex: 1 0 auto
    &-height
      font: 400 10px / 1.2 $font-family
      margin-bottom: 8px
    &-name
      font: 500 14px /1.42857 $font-family
    &-bottom
      display: flex
      justify-content: space-between
      align-items: flex-end
    &-price
      font: 700 14px / 1.71429 $font-family
    &-attr
      display: flex
      align-items: center
      justify-content: space-between
      gap: 1em
      height: 12px

  &__arrow
    width: 14px
    height: 28px
    fill: $lightViolet
    position: absolute
    z-index: 3
    cursor: pointer
    top: calc(50% - 14px)
    &.prev
      left: 15px
    &.next
      right: 15px
      transform: rotate(180deg)