.products
  display: grid
  grid-template-columns: repeat(3,210px)
  gap: 24px 32px
  align-self: flex-end
  &__item
    position: relative
    border-radius: 15px
    overflow: hidden
    display: flex
    height: 100%
    flex-direction: column
    transition: all .2s ease
    .wishsuite-button
      position: absolute
      z-index: 1
      right: 12px
      top: 167px
      svg
        width: 30px
        height: 30px
        stroke: $white
      &.added svg, &.wishsuite-btn-exist svg
        stroke: $orange
        fill: $orange
    &-img
      display: block
      border-radius: 15px
      overflow: hidden
      width: 100%
      aspect-ratio: 1/1
      &-link
        position: relative
        margin-bottom: 16px
    &-data
      flex: 1 0 auto
      position: relative
      display: flex
      flex-direction: column
      gap: 11px
    &-info
      flex: 1 0 auto
    &-height
      font: 400 12px / 1.66667 $font-family
    &-name
      font: 500 14px /1.42857 $font-family
    &-bottom
      display: flex
      justify-content: space-between
      align-items: flex-end
      .added_to_cart.wc-forward
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        white-space: nowrap
        user-select: none
        box-shadow: 2px 2px 4px 0 rgba(154, 48, 148, 0.1)
        font: 700 10px / 2 $font-family
        text-transform: uppercase
        text-align: center
        border-radius: 20px
        width: fit-content
        box-sizing: border-box
        min-width: 125px
        padding: 8px
        background: $orange
        color: $white
      .add_to_cart_button
        &.added
          display: none
    &-price
      font: 700 15px / 1.59502 $font-family
      display: flex
      flex-direction: column
      del
        font: 400 9px /1.2 $font-family
        text-decoration: line-through
        color: #868695
      ins
        text-decoration: initial
    &-tags
      position: absolute
      z-index: 1
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      flex-wrap: wrap
      gap: 5px
      top: 12px
      left: 9px
      right: 9px
    &-tag
      border-radius: 20px
      padding: 5px 12px
      font: 600 9px / 1.55556 $font-family
      color: #fff
      &.bestseller
        background: $darkViolet
      &.new
        background: $lightViolet
    &-sale
      position: absolute
      padding: 5px 12px
      background: $orange
      color: $white
      font: 600 9px/14px $font-family
      top: 12px
      right: 12px
      border-radius: 20px
      z-index: 1
    &-attr
      display: flex
      align-items: center
      justify-content: space-between
      gap: 1em
      height: 20px


.yith-wcwl-add-to-wishlist
  position: absolute
  right: 12px
  bottom: calc(100% + 30px)
  width: 30px
  height: 30px

  .delete_item
    font-size: 0
.product-single
  padding: 32px 0
  h1
    font: 600 30px/37px $font-family
  h3
    font: 600 20px/1.2 $font-family
    color: $text
  &__title
    display: flex
    align-items: center
    justify-content: flex-start
    margin-top: 40px
    gap: 40px
    flex-wrap: wrap

    .sku
      font: 600 20px/1.2 $font-family
      text-align: center
      color: $orange
  &__wrap
    margin-top: 32px
    display: grid
    grid-template-columns: 1fr 415px
    gap: 32px 40px
  &__gallery
    display: grid
    grid-template-columns: 71px 1fr
    gap: 24px
  &__thumbs
    width: 100%
    position: relative
    max-height: 436px
    z-index: 2
  &__thumb
    display: block
    width: 100%
    aspect-ratio: 1/1
    cursor: pointer
    overflow: hidden
    border: 4px solid $lightViolet
    border-radius: 15px
  .swiper-slide-thumb-active .product-single__thumb
    border-color: $darkViolet
  &__images
    position: relative
    overflow: hidden
    border: 4.50px solid $lightViolet
    border-radius: 15px
    aspect-ratio: 520/436
  &__image
    width: 100%
    height: 100%
    object-fit: cover
  &__sale
    position: absolute
    border-radius: 20px
    padding: 8px 16px
    background-color: $orange
    color: $white
    font: 600 12px / 1.16667 $font-family
    z-index: 2
    top: 17px
    right: 16px
    cursor: default
  &__tags
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 12px
    position: absolute
    top: 17px
    left: 16px
    z-index: 2
  &__tag
    border-radius: 20px
    padding: 8px 16px
    font: 600 12px / 1.16667 $font-family
    color: $white
    cursor: default
    &.bestseller
      background: $darkViolet
    &.new
      background: $lightViolet
  &__arrow
    position: absolute
    width: 40px
    height: 40px
    background: url("assets/images/product-arrow.svg") center no-repeat
    z-index: 2
    top: calc(50% - 20px)
    cursor: pointer
  &__prev
    left: 16px
  &__next
    right: 16px
    transform: rotate(180deg)
  &__summary
    border: 2px solid #bd7dc1
    border-radius: 15px
    padding: 40px 32px
    height: 100%
    display: flex
    flex-direction: column
  &__table
    flex: 1 0 auto
    .row
      display: flex
      align-items: center
      justify-content: space-between
      gap: 16px
      margin-bottom: 12px
      &:first-child
        margin-bottom: 32px
      &:last-child
        margin-bottom: 0
      &:not(:first-child)
        border-bottom: 1px solid #f9f1f9
      &>span
        &:first-child
          font: 700 12px / 2.15257 $font-family
          color: $lightViolet
        &:last-child
          text-align: right
          font: 400 12px / 1.66667 $font-family
          color: $textBlack
          display: flex
          align-items: center
    .price
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-right: 47px
      del
        font: 400 14px / 1.42857 $font-family
        text-decoration: line-through
        color: #868695
      ins
        font: 700 18px / 1.33333 $font-family
        text-decoration: none
    .data
      display: flex
      flex-direction: column
    .stock-status
      font: 700 10px / 2 $font-family
      text-transform: uppercase
      text-align: center
      color: $orange
  .cart
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 8px
    margin-top: 65px
    position: relative
    .single_add_to_cart_button.added
      display: none
    .added_to_cart
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      white-space: nowrap
      user-select: none
      box-shadow: 2px 2px 4px 0 rgba(154, 48, 148, 0.1)
      padding: 8px 22px
      font: 700 10px / 2 $font-family
      text-transform: uppercase
      text-align: center
      border-radius: 20px
      width: fit-content
      min-width: 181px
      box-sizing: border-box
      background: $white
      border: 1px solid $orange
      color: $orange
      &:hover
        background: $orange
        color: $white
  &__desc
    border-radius: 22px
    padding: 40px 24px 82px
    background: $bg
    h3
      padding-bottom: 32px
    h4
      padding-bottom: 4px
      color: $lightViolet
    p
      font: 400 16px/20px $font-family
      &:not(:last-child)
        padding-bottom: 32px
  &__feature
    border-radius: 22px
    padding: 24px 35px 40px
    background-color: $bg
    h3
      text-align: center
      padding-bottom: 24px
  &__related
    position: relative
    padding: 0 70px
    overflow: hidden
    .swiper-slide
      opacity: 1
      visibility: visible
      transition: opacity .2s ease
    .swiper-slide:not(.swiper-slide-visible)
      opacity: 0
      a
        pointer-events: none
        cursor: default
  .wishsuite-button
    svg
      width: 37px
      height: 37px
      stroke: $orange
    &.added svg, &.wishsuite-btn-exist svg
      fill: $orange