.registration
  padding: 32px 0
  &__form
    background-color: $bg
    border-radius: 25px
    padding: 48px 60px
  &__wrap
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 80px
  &__half
    display: flex
    flex-direction: column
    gap: 16px
    position: relative
  &__row
    display: flex
    gap: 10px
  &__accept
    margin-bottom: 32px
    a
      white-space: nowrap
  &__reset
    color: $orange
    font: 500 14px $font-family
    text-decoration: underline
    text-decoration-skip-ink: none
    position: absolute
    left: 0
    bottom: 0