.services
  &__wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 23px
  &__item
    border-radius: 15px
    background: rgba(244, 230, 244, 0.58)
    overflow: hidden
  &__img
    height: 154px
    display: block
  &__info
    padding: 17px 46px
    text-align: center
    min-height: 180px
    display: flex
    flex-direction: column
    align-items: center
  &__text
    flex: 1 0 auto
  h4
    font: 700 14px $font-family
    text-transform: uppercase
    text-align: center
    color: $darkViolet
    margin-bottom: 12px
  p
    font: 500 11px / 1.54545 $font-family
    color: $textBlack