.woocommerce-pagination
  display: grid
  grid-template-columns: repeat(3, 210px)
  gap: 24px 32px
  justify-content: end
  margin-top: 24px
  .page-numbers
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 8px
    grid-column: 1/4
    li
      &> *
        width: 30px
        height: 30px
        border: 1px solid $lightViolet
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center
        font: 700 12px / 2.15257 $font-family
        text-align: center
      a
        color: $darkViolet
        background: transparent
    & .current
      background: $lightViolet
      color: $white
      cursor: initial

.breadcrumbs
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 16px
  .back
    width: 24px
    height: 24px
    display: block
    flex-shrink: 0
    background: url("assets/images/back.svg") center no-repeat
    padding: 0
    margin: 0
  & > span
    display: flex
    align-items: center
    flex-wrap: nowrap
    gap: 22px
    & *
      font: 500 12px $font-family
      color: $darkViolet
      white-space: nowrap
    &>span:not(:last-of-type)
      position: relative
      &::before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        left: calc(100% + 8px)
        top: 4.5px
        transform: rotate(45deg)
        background: $darkViolet
    .breadcrumb_last
     color: $lightViolet

.buttonset
  display: flex
  align-items: center
  justify-content: space-between
  border: 1px solid #fe8d13
  border-radius: 22px
  padding: 10px 13px
  width: 91px
  .quantity
    line-height: 1
  input
    font: 500 14px / 17px $third-family
    color: $text
    text-align: center
    padding: 0
  .minus, .plus
    width: 12px
    height: 12px
    position: relative
    margin: 0
    padding: 0
    &::before, &:after
      position: absolute
      background: $orange
    &::before
      content: ''
      width: 100%
      height: 1px
      top: 5.5px
      left: 0
  .plus:after
    content: ''
    height: 100%
    width: 1px
    left: 5.5px
    top: 0
.woocommerce-product-attributes
  width: 100%
  th, td
    padding: 6px 0
    border-bottom: 0.50px solid $lightViolet
  th
    text-align: left
    font: 700 12px / 2.15257 $font-family
    color: $lightViolet
  td
    text-align: right
    font: 400 12px / 1.66667 $font-family

.woocommerce-ordering
  position: relative
  .orderby
    display: none
  .flex
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 5px
.select2-container
  height: 36px
  &--open
    z-index: 3
    .select2-selection
      &::after
        transform: rotate(180deg)
    &.select2-container--above .select2-selection
      border-radius: 0 0 20px 20px
    &.select2-container--below .select2-selection
      border-radius: 20px 20px 0 0
.select2-selection
  width: 171px !important
  gap: 1px
  border: 1px solid #bd7dc1
  border-radius: 20px
  padding: 4px 16px
  display: flex
  align-items: center
  justify-content: space-between
  font: 700 12px / 2.15257 $font-family
  color: $darkViolet
  cursor: pointer
  transition: none
  &::after
    content: ''
    width: 21px
    height: 21px
    display: block
    background: url("assets/images/order-arrow.svg") center no-repeat
.select2-search
  display: none
.select2-dropdown--above .select2-results__options
  border-radius: 22px 22px 0 0
  border-top: 1px solid #bd7dc1
.select2-dropdown--below .select2-results__options
  border-radius: 0 0 22px 22px
  border-bottom: 1px solid #bd7dc1
.select2-results__options
  background: $white
  border-left: 1px solid #bd7dc1
  border-right: 1px solid #bd7dc1
  border-radius: 0 0 22px 22px
  padding: 10px 12px 24px 12px
  width: 171px
  max-height: 240px
  display: flex
  flex-direction: column
  gap: 7px
  overflow: hidden
.select2-results__option
  font: 600 12px/20px $font-family
  color: $darkViolet
  cursor: pointer
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 5px
  position: relative
  white-space: nowrap
  &::before, &::after
    display: block
    width: 18px
    height: 18px
    flex-shrink: 0
  &::before
    content: ''
    background: url("assets/images/order-emty.svg") center no-repeat
  &[data-selected="true"]:before

    background: url("assets/images/order-fill.svg") center no-repeat
  //&[id$="price"]:after
  //  content: ''
  //  background: url("../images/order-price.svg") center no-repeat
  //&[id$="price-desc"]:after
  //  content: ''
  //  background: url("../images/order-price.svg") center no-repeat
  //  transform: rotate(180deg)
.select2-selection__rendered
  white-space: nowrap
