.woocommerce-pagination
  display: grid
  grid-template-columns: repeat(3, 210px)
  gap: 24px 32px
  justify-content: end
  margin-top: 24px
  .page-numbers
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 8px
    grid-column: 1/4
    li
      &> *
        width: 30px
        height: 30px
        border: 1px solid $lightViolet
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center
        font: 700 12px / 2.15257 $font-family
        text-align: center
      a
        color: $darkViolet
        background: transparent
    & .current
      background: $lightViolet
      color: $white
      cursor: initial

.breadcrumbs
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 16px
  .back
    width: 24px
    height: 24px
    display: block
    flex-shrink: 0
    background: url("assets/images/back.svg") center no-repeat
    padding: 0
    margin: 0
  & > span
    display: flex
    align-items: center
    flex-wrap: nowrap
    gap: 22px
    & *
      font: 500 12px $font-family
      color: $darkViolet
      white-space: nowrap
    &>span:not(:last-of-type)
      position: relative
      &::before
        content: ''
        position: absolute
        width: 4px
        height: 4px
        left: calc(100% + 8px)
        top: 4.5px
        transform: rotate(45deg)
        background: $darkViolet
    .breadcrumb_last
     color: $lightViolet

.buttonset
  display: flex
  align-items: center
  justify-content: space-between
  border: 1px solid #fe8d13
  border-radius: 22px
  padding: 10px 13px
  width: 91px
  .quantity
    line-height: 1
  input
    font: 500 14px / 17px $third-family
    color: $text
    text-align: center
    padding: 0
  .minus, .plus
    width: 12px
    height: 12px
    position: relative
    margin: 0
    padding: 0
    &::before, &:after
      position: absolute
      background: $orange
    &::before
      content: ''
      width: 100%
      height: 1px
      top: 5.5px
      left: 0
  .plus:after
    content: ''
    height: 100%
    width: 1px
    left: 5.5px
    top: 0
